.section {
  padding: 100px 100px;

  &-title {
    color: $orange;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 7px;
    padding-bottom: 80px;
  }
  &-img {
    border-radius: 4px;
  }
}